<div class="container">
	<h3>All Movies Listed Below</h3>

	<% 	
		 %>
		<div class = "movies">

	<% 
	%>
		<a href="movies/<%= @new_movie.id %>/view">
      	<img src="<%= @new_movie.image %>" alt="<%=@new_movie.title%>">